.wrapper {
    display: flex;
    height: 100%;
    position: relative;

    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(95, 89, 89);
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        top: 20px;
        left: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    .img-section {
        background-color: rgb(88, 84, 84);
        width: 50%;
        height: 100%;
        object-fit: contain;
    }

    .cmt-section {
        flex-grow: 1;
        height: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid black;

        .owner-infor {
            .owner {
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;

                img {
                    width:50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .infor {
                    margin-left: 12px;
                    flex-grow: 1;

                    h4 {
                        font-weight: 300;
                        margin-top: -2px;
                    }
                }
            }
        }

        .actions {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            width: fit-content;
    
            .action {
                margin: 0 10px;
                .act-btn, .act-text {
                    display: block;
                }
    
                .act-btn {
                    width: 48px;
                    height: 48px;
                    background-color: rgba(22, 24, 35, 0.06);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 8px 0 6px 0;
    
                    &:hover {
                        background-color: rgba(22, 24, 35, .1);
                    }
                }
    
                .act-text {
                    color: rgba(22, 24, 35, 0.75);
                    font-size: 12px;
                    font-weight: 800;
                    line-height: 17px;
                    text-align: center;
                }
            }
        }
    }

    .follow {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: 4px;
        width: 88px;
        height: 35px;
        padding: 0 10px;
        align-self: center;
        
        .fl-text {
            flex-grow: 1;
            text-align: center;
            font-size: 12px;
        }

        &:hover {
            background-color: rgba(254, 44, 85, 0.06);
        }
    }

    .following {
        @extend .follow;
        border-color: rgb(208, 209, 211);


        .fling-text {
            @extend .fl-text;
            color: black;
        }

        &:hover {
            background-color: rgb(248, 248, 248);
        }
    }
}