.wrapper {
  display: flex;
}
.wrapper .avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.wrapper .avatar:hover {
  cursor: pointer;
}
.wrapper .details {
  margin-left: 12px;
  width: 88%;
}
.wrapper .details .author {
  display: flex;
}
.wrapper .details .author .username {
  margin-right: 4px;
  font-family: Sofiapro;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
.wrapper .details .author .username.active, .wrapper .details .author .username:hover {
  text-decoration: underline;
}
.wrapper .details .author .username:hover {
  cursor: pointer;
}
.wrapper .details .author .name {
  font-family: ProximaNova;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
}
.wrapper .details .author .name:hover {
  cursor: pointer;
}
.wrapper .details .video-des .cap {
  font-weight: 400;
  font-size: 15px;
}
.wrapper .details .hashtag {
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 24, 35);
  font-size: 14px;
  padding: 0;
  font-weight: 600;
}
.wrapper .details .hashtag:hover {
  text-decoration: underline;
}
.wrapper .details .hashtag + .hashtag {
  margin-left: 5px;
}
.wrapper .details .music {
  margin: 4px 0 12px 0;
  font-size: 14px;
}
.wrapper .details .video-container {
  width: 100%;
  border-radius: 8px;
  height: 510px;
  cursor: pointer;
  background: #eee center no-repeat;
  margin-right: 20px;
  position: relative;
}
.wrapper .details .video-container .video {
  width: 100%;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.wrapper .details .actions {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: -62px;
  bottom: 0;
}
.wrapper .details .actions .action .act-btn, .wrapper .details .actions .action .act-text {
  display: block;
}
.wrapper .details .actions .action .act-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 6px 0;
}
.wrapper .details .actions .action .act-btn:hover {
  background-color: rgba(22, 24, 35, 0.1);
}
.wrapper .details .actions .action .act-btn:active {
  background-color: rgba(22, 24, 35, 0.253);
}
.wrapper .details .actions .action .act-text {
  color: rgba(22, 24, 35, 0.75);
  font-size: 12px;
  font-weight: 800;
  line-height: 17px;
  text-align: center;
}
.wrapper .follow, .wrapper .following {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  width: 88px;
  height: 28px;
  padding: 0 10px;
}
.wrapper .follow .fl-text, .wrapper .following .fl-text, .wrapper .following .fling-text {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
}
.wrapper .follow:hover, .wrapper .following:hover {
  background-color: rgba(254, 44, 85, 0.06);
}
.wrapper .following {
  border-color: rgb(208, 209, 211);
}
.wrapper .following .fling-text {
  color: black;
}
.wrapper .following:hover {
  background-color: rgb(248, 248, 248);
}/*# sourceMappingURL=VideoInfor.module.css.map */