.toast {
    display: flex;
    min-width: 750px;
    height: 50px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;

    .stt-icon {
        width: 25px;
        height: 25px;
    }

    .status {
        margin-left: 12px;
    }

    .close-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.toast.success {
        background-color: rgb(239, 250, 239);

        .status {
            color: rgb(58, 168, 58);
        }

}

.toast.error {
        background-color: rgb(255, 230, 230);

        .status {
            color: red;
        }

}

