.pop-up-noti {
    position: absolute;
    height: 20px;
    min-width: 20px;
    background: rgb(254, 44, 85);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    padding: 0 3px;
    font-size: 1.3rem;
    font-weight: 600;
}