.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    margin-top: var(--header-height);

    .sidebar-custom {
        width: var(--sidebar-width-profile-section);
    }
}

.content {
    flex-grow: 1;
    margin-left: var(--sidebar-width);
}