.empty-content {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    opacity: 0.5;
    height: 490px;

    & > img {
        width: 90px;
        height: 90px;
        object-fit: cover;
    }

    & > h2 {
        margin-top: 15px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: bold;
    }
}