.copyright {
    color: rgba(22, 24, 35, 0.5);
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    margin-right: 6px;
    margin-top: 5px;
    display: inline-block;
}