.wrapper {
    padding: 20px 0;
    position: relative;
    max-width: 692px;

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        position: absolute;
        background: rgba(22, 24, 35, 0.2);
        transform: scaleY(0.5);
    }
}