.overal-modal {
    background-color: transparent;
}

.register-modal {
    padding: 48px 0px 0px;
    overflow: visible !important;
    height: 95% !important;

    .header-modal {
        .close-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(245, 245, 245);
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            right: 20px;
            top: 20px;
    
            &:hover {
                cursor: pointer;
            }
    
            &:active {
                background-color: rgb(231, 224, 224);
            }
        }

        .back-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            padding: 10px;
            left: 20px;
            top: 20px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .body-modal {
        font-family: "ProximaNova";
        .text {
            font-family: "Lexend Deca", sans-serif;
            margin: 12px 0 12px 0;
            text-align: center;
            color: var(--primary-color);
            word-spacing: 2px;
        }

        .register-section {
            padding-right: 5px;
            width: 385px;
            padding-bottom: 20px;
            margin: 0 auto;
            max-height: 460px;
            border-bottom: 1px solid rgb(190, 189, 189);
            overflow-y: auto;

            &::-webkit-scrollbar {
                border-radius: 30px;
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 30px;
                background-color: rgba(0, 0, 0, .15);
            }
            &::-webkit-scrollbar-track {
                border-radius: 30px;
                background-color: rgba(0, 0, 0, 0);
            }

            .policy-check {
                margin-bottom: 6px;

                & > label {
                    font-size: 12px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                & > input {
                    margin-right: 6px;
                    position: relative;
                    top: 2px;
                    accent-color: var(--primary-color);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .validate-input {
                position: relative;
                .show-hide-icon {
                    position: absolute;
                    right: 20px;
                    top: 21%;
                    &:hover {
                        cursor: pointer;
                    }
                    &:active {
                        opacity: 0.8;
                    }
                }
                .infor-validation {
                    position: absolute;
                    top: 2px;
                    right: 4px;
                    opacity: 0.6;
                    z-index: 999;
                }
                .tooltip-information {
                    position: absolute;
                    right: 0;
                    bottom: -50%;
                    left: 0;
                    z-index: 999;

                    &.length-tooltip {
                        bottom: -90%;
                    }
            
                    span {
                        white-space: wrap;
                    }
                }
            }

            .input-control {
                font-family: "ProximaNova";
                width: 100%;
                border-radius: 4px;
                background-color: rgba(166, 168, 179, 0.06);
                border: 1px solid rgba(22, 24, 35, 0.12);
                padding-inline-start: 12px;
                color: rgb(22, 24, 35);
                line-height: 100%;
                outline: none;
                font-size: 16px;
                height: 45px;
                caret-color: rgb(254, 44, 85);
                padding-inline-end: unset;
                margin-bottom: 15px;
                padding-right: 10px;
            }

            .gender-picker {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;

                .gender-choose {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .gender-label {
                        margin-right: 5px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    input[type='radio'] {

                        border:2px solid white;
                        box-shadow:0 0 0 1px var(--primary-color);
                        appearance:none;
                        border-radius:50%;
                        width:12px;
                        height:12px;
                        background-color:#fff;
                        transition:all ease-in 0.2s;

                        &:hover {
                            cursor: pointer;
                        }

                        &:checked {
                            background-color: var(--primary-color);
                        }
                    }
                }
            }

            .submit {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .footer-modal {
        .login-recommend {
            margin-top: 20px;

            & > h3 {
                font-weight: 300;
                font-size: 18px;
                text-align: center;
            }
            .login-btn {
                margin-left: 10px;
                font-weight: 600;
                color: var(--primary-color);

                &:hover {
                    cursor: pointer;
                    color: rgb(255, 0, 51);
                }
            }
        }
    }

}
